.titulo{
    color:blueviolet;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
} 

.titulo2{
    color:blue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
} 

.titulo3{
    color:blueviolet;
    font-size:100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
} 

.titulo4{
    color:brown;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.enlace{
    background-color: aquamarine;
    color:black;
    font-size: medium;
}

.titulo5{
    color:blueviolet;
    font-size:40xp;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
} 

.fondo{
    background-color: beige;
}

.titulo6{
    color:black;
    font-size:60xp;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
} 







